@model Tienda.Models.Input

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Input</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Provider.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountIn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
